<div class="container">
    <div>
        <button class="btn btn-outline-warning" (click)="get400Error()">Text 400</button>
        <button class="btn btn-outline-warning" (click)="get401Error()">Test 401</button>
        <button class="btn btn-outline-warning navlink" routerLink="/not-found" routerLinkActive="active" (click)="get404Error()">Test 404</button>
        <button class="btn btn-outline-warning" routerLink="/server-error" routerLinkActive="active" (click)="get500Error()">Test 500</button>
        <button class="btn btn-outline-warning" (click)="get400ValidationError()">Test Register Validation</button>
    </div>

    @if(validationErrors.length > 0) {
        <div class="row mt-5">
            <ul class="text-danger">
                @for(error of validationErrors; track $index){
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }

</div>
